USE DatabasicDemoMLM;
GO


IF OBJECT_ID ('FK_Dealers_Dealers') IS NOT NULL 	ALTER TABLE Dealers 	DROP CONSTRAINT FK_Dealers_Dealers
IF OBJECT_ID ('FK_Order_Client') IS NOT NULL 		ALTER TABLE Orders 		DROP CONSTRAINT FK_Order_Client
IF OBJECT_ID ('FK_Orders_Dealers') IS NOT NULL 		ALTER TABLE Orders 		DROP CONSTRAINT FK_Orders_Dealers
IF OBJECT_ID ('Orders') IS NOT NULL					DROP TABLE Orders
IF OBJECT_ID ('Dealers') IS NOT NULL				DROP TABLE Dealers
IF OBJECT_ID ('Clients') IS NOT NULL				DROP TABLE Clients
GO


CREATE TABLE Clients (
	Id INT IDENTITY(1,1) NOT NULL,
	Name NVARCHAR(64) NOT NULL,
	Fullname NVARCHAR (128) NULL,
	Discount DECIMAL(5, 2) NOT NULL DEFAULT 0,
	Street NVARCHAR(64) NULL,
	City NVARCHAR(64) NULL,
	Zip VARCHAR(10) NULL,
	Region NVARCHAR(64) NULL,
	Country VARCHAR(64) NULL,
	CONSTRAINT PK_Clients PRIMARY KEY CLUSTERED (Id ASC)
)
GO

CREATE TABLE Dealers (
	Id INT IDENTITY(1,1) NOT NULL,
	IdParent INT NULL,
	Name NVARCHAR(64) NOT NULL,
	Surname NVARCHAR(64) NULL,
	Description NVARCHAR(MAX) NULL,
	TurnOverExclVat DECIMAL (12, 2) NOT NULL DEFAULT 0,
	TurnOverInclVat DECIMAL (12, 2) NOT NULL DEFAULT 0,
	CONSTRAINT PK_Dealers PRIMARY KEY CLUSTERED (Id ASC)
)
GO

CREATE TABLE Orders (
	Id INT IDENTITY(1,1) NOT NULL,
	IdDealer INT NULL,
	IdClient INT NULL,
	PriceExclVat DECIMAL(12, 2) NOT NULL DEFAULT 0,
	PriceInclVat DECIMAL(12, 2) NOT NULL DEFAULT 0,
	DateSubmit DATETIME NOT NULL DEFAULT GETDATE(),
	DateDispatch DATETIME NULL,
	Paid tinyINT NOT NULL DEFAULT 0,
	Status VARCHAR (10) NOT NULL DEFAULT 'NEW',
	CONSTRAINT PK_Orders PRIMARY KEY CLUSTERED (Id ASC)
)
GO